/*
* Tailwind generates prose classes that has specificity of (0,1,0), element-only
* selectors aren't enough to overwrite them, so we add `.prose` class
*/
.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:target {
      @apply scroll-mt-24;
    }

    &:hover .anchor-link {
      @apply opacity-100;
    }
  }

  a {
    @apply no-underline;

    &:hover {
      @apply underline underline-offset-[0.5ex];
    }
  }

  .anchor-link {
    @apply ml-2 text-[--color-link-inactive];
    @apply transition-[opacity,color] duration-100;
    @apply opacity-0 focus-visible:opacity-100;

    &:hover {
      @apply no-underline text-cyan-800;
    }

    .icon-link::before {
      @apply content-['#'];
    }
  }

  img {
    @apply rounded-xl shadow-lg;
  }

  figure > figcaption {
    @apply text-center italic font-medium text-[--color-quotes];
  }

  table {
    @apply my-0;
  }

  thead {
    @apply bg-[--color-th-bg];
  }

  thead th,
  tbody td {
    @apply p-4 md:px-6;
  }

  /* Custom style: code block */
  .copy-btn {
    @apply absolute top-2 right-2 p-1.5;
    @apply flex-shrink-0 opacity-0 py-2 px-3 flex justify-center items-center gap-2 text-sm font-semibold rounded-xl border border-transparent text-cyan-700 hover:bg-neutral-100 dark:hover:bg-neutral-950 dark:text-cyan-600 dark:hover:text-cyan-700;
    @apply transition-[opacity,transform];
    @apply active:scale-90 focus-visible:opacity-100;
  } 

  pre:hover .copy-btn {
    @apply opacity-80;
  } 
  
  pre:hover .copy-btn:hover {
    @apply opacity-100;
  }
  
  :not(pre) > code {
    @apply bg-[--color-code-bg] rounded-md;
    @apply py-[0.25em] px-[0.45em];
    @apply before:content-[''] after:content-[''];
  }

  :not(pre, a[href]) > code {
    @apply text-[--color-code-fg];
  }

  pre {
    @apply p-0;
  }

  pre > code:not([data-language]) {
    @apply pl-4;
  }

  pre > code {
    @apply grid overflow-x-auto py-4 [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-neutral-100
    [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-neutral-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500; 
    @apply border border-[--color-pre-code-borders] rounded-md;

    > [data-line] {
      @apply px-4 border-l-[length:--pre-code-line-highlight-border-width] border-l-transparent;
    }

    > [data-highlighted-line] {
      @apply border-l-[--color-pre-code-line-highlight-border];
      @apply bg-[--color-pre-code-line-highlight] !important;
    }
  }

  pre > code[data-line-numbers] {
    --_counter-width: 1ch;
    counter-reset: line;

    > [data-line]::before {
      counter-increment: line;
      content: counter(line);
      @apply inline-block w-[--_counter-width] mr-4 text-right text-inherit;
    }

    &[data-line-numbers-max-digits="2"] {
      --_counter-width: 2ch;
    }

    &[data-line-numbers-max-digits="3"] {
      --_counter-width: 3ch;
    }

    &[data-line-numbers-max-digits="4"] {
      --_counter-width: 4ch;
    }
  }

  [data-rehype-pretty-code-title] {
    @apply text-[--color-pre-code-title-fg] bg-[--color-pre-code-title-bg];
    @apply border-t border-x border-[--color-pre-code-borders] rounded-t-md;
    @apply px-4 py-2;

    + pre {
      @apply mt-0 rounded-t-none;
    }
  }

  [data-rehype-pretty-code-caption] {
    @apply text-center italic font-medium text-sm text-[--color-captions] mt-3;
  }

  [data-highlighted-chars] {
    @apply bg-[--color-pre-code-highlighted-chars] p-[0.2em] rounded-md;
  }

  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
 
  @media (prefers-color-scheme: dark) {
    pre,
    code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }
  }

  pre > code .diff.add span:first-child::before,
  pre > code .diff.remove span:first-child::before {
    @apply -ml-3 inline-flex w-4;
  }

  pre > code .diff.add {
    @apply border-green-500 !bg-green-500/25 before:text-green-500;
  }

  pre > code .diff.add span:first-child::before {
    @apply text-green-500 content-["+"];
  }

  pre > code .diff.remove {
    @apply border-red-500 !bg-red-500/30 before:text-red-500;
  }

  pre > code .diff.remove span:first-child::before {
    @apply text-red-500 content-["-"];
  }

  pre > code .focused {
    @apply blur-[1.5px];
  }
}